/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}





/*definindo posições grid*/
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    
    color:#FFF2F9;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 100%;

}

main{
    grid-area: main;
    background-color: #FDEBF7;
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 40px;
    
}



header{
    background-color: #323232;
    grid-area: header;
}

footer{
    grid-area: footer;
    background-color: #323232;
}






/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

h1 a{
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: #FA4EAB;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links{
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 25px;
}

.nav-links img{
    height: 35px;
    margin-left: 5px;
}

.bt-search{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.nav-links a{
    color: #FA4EAB;
}

.nav-links input{
    width: 220px;
    height: 30px;
    border-radius: 20px;
    border: 0.1px solid #FA4EAB;
    outline: none;
    padding: 10px;

    font-style: italic;
    font-size: 16px;
}







/*main*/
.section-lancamento{
    background-color: #323232;
    height: 110vh;
    font-size: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container-lancamento{
    display: flex;
    height: 85%;
    width: 100%;

    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


/*gambiarra pq n consehui usar flex-end e deixar centralizado*/
.container-lancamento > div:nth-of-type(1), 
.container-lancamento > div:nth-of-type(2), 
.container-lancamento > div:nth-of-type(3){
    opacity: 0;
}

.bloco-anime-lancamento{
    background-color: #8a8888;
    border-radius: 5px;
    height: 29vh;
    width: 17vw;

    display: flex;
    padding: 10px;
    gap: 5px;

}

.lancamento-descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: .5vh 0;
    gap: .4vh;
}

.lancamento-anime-title{
    font-weight: 500;
}

.bloco-genero{
    background-color: #4d4c4cd8;
    border-radius: 5px;
    padding: 2px;
    line-height: 1.8;
    
}



.lancamento-anime-title, .lancamento-genero, .episodios, .status{
    font-size: 1.6vh;
}

.bloco-anime-lancamento img{
    width: 10vw;
}

.container-lancamento > a:nth-child(13), 
.container-lancamento > a:nth-child(14), 
.container-lancamento > a:last-child{
    visibility: hidden;
}














/*footer*/
.footer-discord{
    background-color: #5463FF;
    height: 7vh;
}

.footer-discord a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;
    margin: 0 auto;
    gap: 10px;

    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 2);
}

.footer-parceiros ul{
    display: flex;
    justify-content: center;
    
    
}

.footer-parceiros h4{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

.desenvolvido{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 5px;
    text-align: end;
    padding-right: 25px;

    font-size: 15px;
}

.parceiros-links{
    font-size: 20px;
    font-weight: 400;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
}











/*estilização geral - elementos que aparecem varias vezes*/
.btVejaMais{
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px;
    background-color: #FFD32D;
    margin: 10px auto;
    border: none;
}

.btVejaMais a{
    color: #323232;
}

figcaption{
    margin-top: 2px;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
}

a{
    color: #FDEBF7 ;
}

.sub-header{
    background-color: #FA4EAB;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
    font-weight: 500;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img{
    border-radius: 10px;
}

.figure-lancamento img, .figure-pop img, .figure-lancamento img{
    width: 100%;
    height: 95%;
}

.container-lancameto .btVejaMais, .section-pop .btVejaMais{
    margin-top: 30px;
}


.navegacao{
    width: max-content;
    margin: 10px auto;
    
}

.pagination-ul{
    display: flex;
    width: max-content;
    list-style: none;
    

}

.page-item{
    background-color: #FFD32D;
    border: 1px solid black;
    padding: 3px 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .5);
    
}
.pagination-ul li:first-child, .pagination-ul li:last-child{
    padding: 3px;
}

.pagination-ul li:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pagination-ul li:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.page-link{
    color: #323232;
}

.icon-flutuante{
    filter: invert(100%);
    width: 28px;
    height: 28px;
}

.navegacao-flutuante{
    position:fixed;
    z-index: 3;
    right: 5px;
    bottom: 25px;

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.navegacao-flutuante > a {
    background-color: #FA4EAB;
    clip-path: circle(50% at 50% 50%);
    
    padding: 5px;
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}












/*efeitos*/
/*header*/
.nav-links a:hover{
    color: #FFD32D;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

.bt-search:hover{
    cursor: pointer;
}

.nav-links input:focus{
    background-color: #FDEBF7;
}



/*historico*/
/*perguntar p professor como mudar mais de um elemento filho ao passar o mouse por cima do elemento pai
pra imagem aumentar e aplicar text shadow so de passar o mouse no bloco cinza*/
.bloco-historico:hover{
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
    color: #FA4EAB;
}


/*botao*/
.btVejaMais:hover{
    background-color: #FA4EAB;
    font-weight: 700;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

/*parceiros*/
.lista-parceiros li:nth-of-type(1) a:hover{
    color: #5A2E98;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}
.lista-parceiros li:nth-of-type(2) a:hover{
    color: #21D3FF;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}
.lista-parceiros li:nth-of-type(3) a:hover{
    color: #CD2026;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}   
.lista-parceiros li:nth-of-type(4) a:hover{
    color: #888484;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

.desenvolvido a:hover{
    color: #FA4EAB;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
}

.bloco-anime-historico:hover{
    color: #FA4EAB ;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 2);
}
.bloco-anime-lancamento:hover{
    box-shadow: 7px 7px 15px #FA4EABAA;
}

.status-lancamento{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 2);
}

.page-item:hover{
    background-color: #FA4EAB;
    outline: 1px solid #5463FF
}












/*imagens de fundo*/
.footer-parceiros{
    position: relative;
}

.footer-parceiros h4, .footer-parceiros ul, .footer-parceiros .desenvolvido{
    position: relative;
    z-index: 2;
} 

.footer-parceiros:before{
    content: ' ';
    position: absolute;

    width: 100%;
    height: 100%;

    opacity: .7;

    background: url("../Images/background-darkness.png") no-repeat 30% 0, url("../Images/background-megumin-2.png") no-repeat 70% 0;
    background-size: contain;
}


.footer-parceiros{
    position: relative;
}

.footer-parceiros h4, .footer-parceiros ul, .footer-parceiros .desenvolvido{
    position: relative;
    z-index: 2;
} 

.footer-parceiros:before{
    content: ' ';
    position: absolute;

    width: 100%;
    height: 100%;

    opacity: .7;

    background: url("../Images/background-darkness.png") no-repeat 25% 0, url("../Images/background-megumin-2.png") no-repeat 75% 0;
    background-size: contain;
}


header{
    position: relative;
}

header h1, header nav{
    position: relative;
    z-index: 2;
}

header:before{
    content: ' ';
    position: absolute;

    width: 90%;
    height: 100%;

    background: url("../Images/ambuGirl.png") no-repeat 10% 0;
    background-size: contain;
}
